### Importando as Bibliotecas

In [1]:
import pandas as pd

### 1. População mundial em 2021
https://www.kaggle.com/datasets/rsrishav/world-population

In [2]:
df1 = pd.read_csv('datasets/2022_population.csv')

In [3]:
#para ver todas as colunas do df
pd.set_option('display.max_rows', None)

In [4]:
df1.head()

,iso_code,country,2022_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,425,873,641","1,424,929,781","9,706,961 sq_km",147/sq_km,-0.00%,17.88%,1
1,IND,India,"1,418,914,739","1,396,387,127","3,287,590 sq_km",431/sq_km,0.68%,17.77%,2
2,USA,United States,"338,573,477","335,942,003","9,372,610 sq_km",36/sq_km,0.38%,4.24%,3
3,IDN,Indonesia,"275,818,905","271,857,970","1,904,569 sq_km",145/sq_km,0.64%,3.45%,4
4,PAK,Pakistan,"236,650,690","227,196,741","881,912 sq_km",267/sq_km,1.91%,2.96%,5

In [5]:
df1.loc[df1.iso_code == 'BRA']

,iso_code,country,2022_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
6,BRA,Brazil,"215,488,926","213,196,304","8,515,767 sq_km",25/sq_km,0.46%,2.70%,7

In [6]:
#selecionando as colunas que interessam
df2 = df1[['iso_code', 'country', '2022_last_updated', 'rank']]

In [7]:
df2.head()

  iso_code        country 2022_last_updated  rank
0      CHN          China     1,425,873,641     1
1      IND          India     1,418,914,739     2
2      USA  United States       338,573,477     3
3      IDN      Indonesia       275,818,905     4
4      PAK       Pakistan       236,650,690     5

In [8]:
#visualizando o tamanho do df
df2.shape

(216, 4)

### 2. Preços da Internet
https://www.kaggle.com/datasets/ramjasmaurya/1-gb-internet-price

In [9]:
df3 = pd.read_csv('datasets/all_csv sorted.csv')

In [10]:
df3.head()

,S.NO,Country code,Country,Continental region,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Average price of 1GB (USD at the start of 2021),Average price of 1GB (USD – at start of 2020),Internet users,Population,Avg \n(Mbit/s)Ookla
0,0,IL,Israel,NEAR EAST,27.0,0.05,0.02,20.95,0.11,0.9,"6,788,737","8,381,516",28.01
1,1,KG,Kyrgyzstan,CIS (FORMER USSR),20.0,0.15,0.10,7.08,0.21,0.27,"2,309,235","6,304,030",16.30
2,2,FJ,Fiji,OCEANIA,18.0,0.19,0.05,0.85,0.59,3.57,"452,479","883,483",25.99
3,3,IT,Italy,WESTERN EUROPE,29.0,0.27,0.09,3.54,0.43,1.73,"50,540,000","60,627,291",37.15
4,4,SD,Sudan,SUB-SAHARAN AFRICA,33.0,0.27,0.03,0.92,0.63,0.68,"12,512,639","41,801,533",9.50

In [11]:
#renomeando a coluna para mesclar
df3.rename(columns={'Country': 'country'}, inplace = True)

In [12]:
#selecionando as colunas que interessam
df4 = df3[['country', 'NO. OF Internet Plans', 'Average price of 1GB (USD)', 'Cheapest 1GB for 30 days (USD)', 'Most expensive 1GB (USD)', 'Internet users']]

In [13]:
df4.head()

,country,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Internet users
0,Israel,27.0,0.05,0.02,20.95,"6,788,737"
1,Kyrgyzstan,20.0,0.15,0.10,7.08,"2,309,235"
2,Fiji,18.0,0.19,0.05,0.85,"452,479"
3,Italy,29.0,0.27,0.09,3.54,"50,540,000"
4,Sudan,33.0,0.27,0.03,0.92,"12,512,639"

In [14]:
#mesclando os dataframes
data = pd.merge(df2, df4, how = 'inner', on = 'country')
data.head()

,iso_code,country,2022_last_updated,rank,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Internet users
0,CHN,China,"1,425,873,641",1,36.0,0.52,0.30,1.21,"1,010,740,000"
1,IND,India,"1,418,914,739",2,58.0,0.68,0.05,2.73,"833,710,000"
2,USA,United States,"338,573,477",3,45.0,3.33,1.00,30.00,"312,320,000"
3,IDN,Indonesia,"275,818,905",4,53.0,0.42,0.17,2.94,"196,000,000"
4,PAK,Pakistan,"236,650,690",5,60.0,0.59,0.06,8.59,"118,800,000"

In [15]:
#visualizando o tamanho do df
data.shape

(202, 9)

### 3. Uso Global da Internet
https://www.kaggle.com/datasets/sansuthi/gapminder-internet

In [16]:
df5 = pd.read_csv('datasets/gapminder_internet.csv')
df5.head()

       country  incomeperperson  internetuserate  urbanrate
0  Afghanistan              NaN         3.654122      24.04
1      Albania      1914.996551        44.989947      46.72
2      Algeria      2231.993335        12.500073      65.22
3      Andorra     21943.339900        81.000000      88.92
4       Angola      1381.004268         9.999954      56.70

In [17]:
#selecionando as colunas que interessam
df6 = df5[['country', 'incomeperperson', 'urbanrate']]

In [18]:
#mesclando os dataframes
data = pd.merge(data, df6, how = 'inner', on = 'country')
data.head()

,iso_code,country,2022_last_updated,rank,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Internet users,incomeperperson,urbanrate
0,CHN,China,"1,425,873,641",1,36.0,0.52,0.30,1.21,"1,010,740,000",2425.471293,43.10
1,IND,India,"1,418,914,739",2,58.0,0.68,0.05,2.73,"833,710,000",786.700098,29.54
2,USA,United States,"338,573,477",3,45.0,3.33,1.00,30.00,"312,320,000",37491.179520,81.70
3,IDN,Indonesia,"275,818,905",4,53.0,0.42,0.17,2.94,"196,000,000",1143.831514,51.46
4,PAK,Pakistan,"236,650,690",5,60.0,0.59,0.06,8.59,"118,800,000",668.547943,36.16

In [19]:
#visualizando o tamanho do df
data.shape

(180, 11)

### 4. Países por número de usuários da Internet
https://www.kaggle.com/datasets/tanuprabhu/list-of-countries-by-number-of-internet-users

In [20]:
df7 = pd.read_csv('datasets/List of Countries by number of Internet Users - Sheet1.csv')

In [21]:
df7.head()

  Country or Area Internet Users     Population  Rank Percentage Rank.1
0           China    765,367,947  1,409,517,397     1     54.30%    116
1           India    461,347,554  1,339,180,127     2     34.45%    145
2   United States    244,090,854    324,459,463     3     75.23%     68
3          Brazil    141,206,801    209,288,278     4     67.47%     83
4           Japan    115,845,120    127,484,450     5     90.87%     23

In [22]:
#renomeando a coluna para mesclar
df7.rename(columns={'Country or Area': 'country'}, inplace = True)

In [23]:
#selecionando as colunas que interessam
df8 = df7[['country', 'Percentage', 'Rank.1']]

In [24]:
#mesclando os df
data = pd.merge(data, df8, how = 'inner', on = 'country')
data.head()

,iso_code,country,2022_last_updated,rank,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Internet users,incomeperperson,urbanrate,Percentage,Rank.1
0,CHN,China,"1,425,873,641",1,36.0,0.52,0.30,1.21,"1,010,740,000",2425.471293,43.10,54.30%,116
1,IND,India,"1,418,914,739",2,58.0,0.68,0.05,2.73,"833,710,000",786.700098,29.54,34.45%,145
2,USA,United States,"338,573,477",3,45.0,3.33,1.00,30.00,"312,320,000",37491.179520,81.70,75.23%,68
3,IDN,Indonesia,"275,818,905",4,53.0,0.42,0.17,2.94,"196,000,000",1143.831514,51.46,32.29%,150
4,PAK,Pakistan,"236,650,690",5,60.0,0.59,0.06,8.59,"118,800,000",668.547943,36.16,30.68%,184

In [25]:
#visualizando o tamanho do df
data.shape

(175, 13)

### 5. Indicadores de desenvolvimento
https://databank.worldbank.org/reports.aspx?source=2&country=BRA

In [26]:
df9 = pd.read_csv('datasets/WDICountry.csv')

In [27]:
df9.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [28]:
#renomeando a coluna para mesclar
df9.rename(columns={'Table Name': 'country'}, inplace = True)

In [29]:
#selecionando as colunas que interessam
df10 = df9[['country', 'Region', 'Income Group']]
df10.head()

                       country                     Region         Income Group
0                        Aruba  Latin America & Caribbean          High income
1  Africa Eastern and Southern                        NaN                  NaN
2                  Afghanistan                 South Asia           Low income
3   Africa Western and Central                        NaN                  NaN
4                       Angola         Sub-Saharan Africa  Lower middle income

In [30]:
#mesclando os df
data = pd.merge(data, df10, how = 'inner', on = 'country')
data.head()

,iso_code,country,2022_last_updated,rank,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Internet users,incomeperperson,urbanrate,Percentage,Rank.1,Region,Income Group
0,CHN,China,"1,425,873,641",1,36.0,0.52,0.30,1.21,"1,010,740,000",2425.471293,43.10,54.30%,116,East Asia & Pacific,Upper middle income
1,IND,India,"1,418,914,739",2,58.0,0.68,0.05,2.73,"833,710,000",786.700098,29.54,34.45%,145,South Asia,Lower middle income
2,USA,United States,"338,573,477",3,45.0,3.33,1.00,30.00,"312,320,000",37491.179520,81.70,75.23%,68,North America,High income
3,IDN,Indonesia,"275,818,905",4,53.0,0.42,0.17,2.94,"196,000,000",1143.831514,51.46,32.29%,150,East Asia & Pacific,Lower middle income
4,PAK,Pakistan,"236,650,690",5,60.0,0.59,0.06,8.59,"118,800,000",668.547943,36.16,30.68%,184,South Asia,Lower middle income

In [31]:
#renomeando as colunas 
data.rename(columns={'iso_code': 'abreviacao', 'country': 'pais', '2022_last_updated': 'populacao', 'rank': 'rank_populacao', 'NO. OF Internet Plans': 'qtd_planos_internet', 'Average price of 1GB (USD)': '1GB_preco_medio', 'Cheapest 1GB for 30 days (USD)': '1GB_mais_barato', 'Most expensive 1GB (USD)': '1GB_mais_caro', 'Internet users': 'usuarios_internet', 'incomeperperson': 'PIB_per_capita', 'urbanrate': 'populacao_urbana_%', 'Percentage': 'usuarios_internet_%', 'Rank.1': 'rank_usuarios', 'Region': 'regiao', 'Income Group': 'grupo_renda'}, inplace = True)

In [32]:
data.head()

,abreviacao,pais,populacao,rank_populacao,qtd_planos_internet,1GB_preco_medio,1GB_mais_barato,1GB_mais_caro,usuarios_internet,PIB_per_capita,populacao_urbana_%,usuarios_internet_%,rank_usuarios,regiao,grupo_renda
0,CHN,China,"1,425,873,641",1,36.0,0.52,0.30,1.21,"1,010,740,000",2425.471293,43.10,54.30%,116,East Asia & Pacific,Upper middle income
1,IND,India,"1,418,914,739",2,58.0,0.68,0.05,2.73,"833,710,000",786.700098,29.54,34.45%,145,South Asia,Lower middle income
2,USA,United States,"338,573,477",3,45.0,3.33,1.00,30.00,"312,320,000",37491.179520,81.70,75.23%,68,North America,High income
3,IDN,Indonesia,"275,818,905",4,53.0,0.42,0.17,2.94,"196,000,000",1143.831514,51.46,32.29%,150,East Asia & Pacific,Lower middle income
4,PAK,Pakistan,"236,650,690",5,60.0,0.59,0.06,8.59,"118,800,000",668.547943,36.16,30.68%,184,South Asia,Lower middle income

In [33]:
#visualizando o tamanho do df
data.shape

(163, 15)

In [34]:
#criando arquivo em csv do novo dataset
data.to_csv('dataset.csv', index = False)